.header{
    margin-bottom: 1.45rem;
}

.title{
    margin: 0 auto;
    width: 900px;
    padding: 1rem 1.0875rem;
    text-align: center;
    display: flex;
}

.decoration-text{
    margin: 0rem 1.5rem;
    text-orientation: upright;
    writing-mode: vertical-rl;
}

.title-text{
    color: #9E9E9E;
    padding-top: 1rem;
}

.title-link{
    color: #9E9E9E;
    text-decoration: none;
}

.nav-links-default{
    margin: 0 auto;
    padding:0 0.5rem;
    color: #9E9E9E;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-links-active{
    color: #E0E0E0;
    text-decoration: underline;
}
